<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="wrapper">
            <header id="up">
                <%- include('../partials/header'); %>
            </header>
            <main>
                <% if (admin) { %>
                    <div class="manager">
                        <div class="create_form">

                        </div>
                        <div class="list">
                            <div class="list_obj" id="add" activate="off" form="album">
                                <p class="large_ft">Add album</p>
                            </div>
                            <% albums.forEach(element => { %>
                                <div class="list_obj update" id="<%= element.id %>" activate="off" form="album">
                                    <img src="../../<%= element.img %>" alt="">
                                    <p class="middle_ft"><%= element.title %></p>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                <% } %>
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>
