<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="wrapper">
            <header id="up">
                <%- include('../partials/header'); %>
            </header>
            <main>
                <div class="conteiner row album_list">
                    <div class="header">
                        <div class="column">
                            <img src="../../../<%= playlist.img %>" alt="" class="">
                            <h2 class="large_ft"><%= playlist.title %></h2>
                        </div>
                    </div>
                    <% if (tracks.length == 0) { %>
                        <h1>Playlist empty</h1>
                    <% } %>
                    <ul>
                        <% tracks.forEach(element => { %>
                            <li>
                                <% if (author) { %>
                                    <div class="fav <% if (element.fav == "on") { %>gold<% } %>" 
                                       fav="<%= element.fav %>" id="<%= element.id %>">
                                           
                                       </div>
                                <% } %>
                                <div class="btn_payer">
                                    <img src="../../imgs/design/play.png" alt="" class="play_pause" status="pause">
                                </div>
                               
                                <div class="column">
                                    <p class="middle_ft"><%= element.title %></p>
                                    <p class="small_ft"><%= element.performer %></p>
                                    <audio src="../../../<%= element.link %>" controls disablepictureinpicture controlslist="nodownload noplaybackrate" class="album_track"></audio>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            </main>
            <footer>
                <%- include('../partials/footer'); %>
            </footer>
        </div>
    </body>
</html>
